$screen-sm-min: 600px;
$screen-md-min: 960px;
$screen-lg-min: 1280px;

$screen-xs-max: 599px;
$screen-sm-max: 959px;
$screen-md-max: 1279px;
$screen-lg-max: 1919px;

$white-color: #fff;
$gray-color: #F9F9F9;
$text-color1: #5B5676;
$text-color2: #22202E;
$text-color3: #505977;
$deep-blue-color: #2A254B;
$products-list-color: #726E8D;
$translucent-blue: rgba(249,249,249, 0.15);

